.nav {
    background-image: url(../img/bg-banner.png);
    background-size: cover;
    background-position: center;
    height: 85vh;
    display: flex;
}

.nav__menu {
    display: flex;
    flex-direction: row;
    background-color: green;
} 