* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Asap";
    font-size: 10px;
}

.container {
    background-color: yellow;
    width: 1000px;
    margin: 0 auto;
}